body{
   background-color: #F9E6CF; 
   color:#69247C;

}

span{
    color:#DA498D;
}
/*h1 {
    color: #333333;

}
button {
    background-color: green;
    color: white;

}
footer {
    background-color: gray;
    color: white;

}
a {
    color: DodgerBlue;

}*/