/*Resetear configuraciones*/
* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  background-color: #F9E6CF;
  color: #69247C;
  font-family: "papyrus";
}

/*p {
  margin: 10px;
  border: 2px solid purple;
  padding: 5px;
}*/

.destacar {
  color: #DA498D;
}

/*contenedor de las columnas*/
.presentacion {
  margin: 0%;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.container {
  display: flex;
  align-items: center;
  height: 300px;
  weight:615px;;
  /* Altura ajustável conforme necessário */
}

.responsivo-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

span {
  color: #DA498D;
}

a {
  color: #22D4FD;
  border: 1px solid #22D4FD;
  padding: 10px;
  text-align: center;
}

.bot {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}


.presentacion_titulo{
  align-content: center;
  font-size: 36px;
}
.presentacion_parrafo{

  font-size: 18px;
}

img {
  border-radius: 8px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img:hover {
  transform: scaleX(-1);
}