/*Resetear configuraciones*/
*{
  margin:0;
  padding: 0;
}

body{
  height:100vh;
  box-sizing: border-box;
  background-color: #F9E6CF; 
  color:#69247C;
  font-family: "papyrus";
}

p {
  margin: 10px;
  border: 2px solid purple;
  padding: 5px;
}

.destacar{
  color:#DA498D;
}

/*contenedor de las columnas*/
.presentacion{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

span{
 color:#DA498D;
}

a{
  color: #22D4FD;
  border: 1px solid #22D4FD; 
  padding: 10px;
  text-align: center;
}
.bot {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

h1 {
   align-content: center;
}
img {
    border-radius: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  img:hover {
    transform: scaleX(-1);
  }
  