body{
   background-color: #F9E6CF; 
   color:#69247C;
    font-family: "papyrus";
}

span{
    color:#DA498D;
}

a{
    color: #22D4FD;
    
    border: 1px solid #FAC67A ; 
    padding: 10px;
    text-align: center;
}

h1 {
   align-content: center;
}
img {
    border-radius: 8px;
  }
  img:hover {
    transform: scaleX(-1);
  }
